@tailwind base;
@tailwind components;

.comp {
  @apply text-red-500;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}

.infobox {
  @apply border-pink-300 border-l-8 p-4 my-6 bg-pink-100;
}

.codeblock {
  @apply w-full border-gray-300 border-l-8 pl-1 py-2 my-4 bg-gray-100 overflow-scroll;
  max-height: 300px;
  font-size: 0.675rem;
}
@tailwind utilities;